FRONTEND_URL=https://terminals.tchvrs.com
API_URL=https://terminals.tchvrs.com
SERVER_URL=wss://terminals.tchvrs.com/ws
WS_USERNAME=test
WS_PASSWORD=test
PILOT_FOLDER_PATH=/path/to/sb_pilot/folder
AGENT_DEBUG=false
UPDATE_INTERVAL=3600000
GIT_REPOSITORY=https://github.com/krikyn/restaurant.selfservice.terminals.termagent.git
GIT_BRANCH=main
SCANNER_ENABLED=false
SCANNER_PATH=COM3
SCANNER_BAUD_RATE=9600
SCANNER_DELIMITER=\r\n